<ion-content class="scroll-content">
  <h1 class="headertext"> People Active Nearby </h1>
  <h1 class="nearby"> {{find_user}} </h1>
  <h4 text-center class="startsession" *ngIf="showbutton" (click)="gotovideopage()"> Start Session </h4>
  <h4 text-center class="startsession" *ngIf="!showbutton" (click)="showmessage()"> Start Session </h4>
</ion-content>

<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4" text-center>
        <p class="buttom" (click)="userlogin()"><img
            src="../../../assets/images/136-1366211_group-of-10-guys-login-user-icon-png.png" class="image" /> </p>
      </ion-col>
      <ion-col size="4" text-center>
        <p class="buttom"> <img src="../../../assets/images/Home.png" class="image" /> </p>
      </ion-col>
      <ion-col size="4" text-center>
        <p class="buttom" (click)="chatpage()"> <img src="../../../assets/images/Chat.png" class="image" /> </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->