ion-content {
    --background: url(../../../assets/images/Background.png) 0 0/100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.img-height {
    height: 7em;
    margin-top: 1.5em;
}

.imgsize {
    margin-top: -1.5em;
}

.text-color {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;

}

.m-0 {
    margin: 0;
}

.ortextmargin {
    margin-top: -10px;
}

.background {
    background-color: #0000003b;
    border-radius: 25px;
    height: 43px;
}

p#ortext {
    text-align: center;
    color: white;
}

.index {
    z-index: 1;
}

.add-class {
    background: white;
    padding: 8px;
    border-radius: 25px;
    color: black;
}

.newuser-class {
    background: white;
    padding: 8px;
    border-radius: 25px;
    color: black;
}

.user-text {
    color: white;
    margin-top: 7px;
    margin-bottom: 10px;
}

.olduser {
    padding-left: 10px;
    padding-right: 2px;
    margin: 1px;
}

.newuser {
    margin-left: 30px;
}

.card-class {
    background-color: white;
    margin-bottom: 0;
}

.buttom-line {
    border-bottom: 1px solid #808080e8;
}

p#ortext::before {
    content: " ----";
    width: 15px;
}

p#ortext::after {
    content: " ----";
    width: 15px;
}

.color {
    color: white;
    text-align: center;
}

.color::after {
    content: " ----";
    width: 15px;
}

.color::before {
    content: " ----";
    width: 15px;
}

.forgot_text {
    color: white;
    border-bottom: 1px solid;
}

.facebook-icon {
    height: 50px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 41px;
    background-color: white;
}

.img-icon {
    height: 18px;
    width: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

.look-icon {
    padding-top: 12px;
    font-size: 20px;
}

.linecss {
    border-bottom: 1px solid white;
    margin-right: 5.6em;
    margin-left: 5.6em;
    margin-top: 2px;
}

.forgot-margin {
    margin-bottom: 0px;
    margin-top: 0px;
}

@media only screen and (max-width: 380px) {
    .paddingrow {
        padding-left: 22% !important;
        padding-right: 23% !important;
    }
}



@media only screen and (max-width: 420px) {
    .paddingrow {
        padding-left: 22%;
        padding-right: 29%;
    }
}