<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgotpage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="../../../assets/images/LogoJoin.png" class="img-height" />
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 3em;">
      <ion-col text-center>
        <p class="emailtext"> Enter email address to change your password</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="padding-left">
        <ion-item lines="none" class="border">
          <img src="../../../assets/images/email.png" class="img-icon" />
          <ion-input type="text" style="padding-left: 13px !important;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <p style="margin-top: -19px;">
          <img src="../../../assets/images/Reset-password-page.png" style="height: 33px;" />
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p><img src="../../../assets/images/Bottom.png" class="imgclass" /> </p>
</ion-content>