ion-content{
    --background: url(../../../assets/images/Background.png)0 0/100% 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

ion-input{
    border-bottom: 1px solid #fff ;
}
::placeholder {
    color: white;
  }
.padding-top{
    padding-top: 10px;
}

.imgclass{
    position: fixed;
    bottom: 0px;
}

.ion-grid{
position: absolute;
top: 11%;
}

.text-color{
    color: white;
}

.img-height{
    height: 7em;
    margin-top: 5em;
}

.gender-image{
    height: 13em;
    margin-top: 3em;
}
.profilelogo{
    height: 5em;
}

.gender{
    color: white;
    font-size: 19px;
    margin-bottom: 6px;
}
.gender-text{
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 11px;
}
.gender-prefer{
    height: 9.5em;
    margin-top: 3em;
}