<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="../../../assets/images/LogoCreated.png" class="logocreated">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h4 class="gender"> Account Created! </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="imgsrc">
        <p>
          <img src="../../../assets/images/Account-created.png">
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p class="skiptext" (click)="gotohomepage()"> Skip and go to home page</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>